@model IEnumerable<First_MVC.Models.Employee>

<a asp-controller="Employee" asp-action="Create"  class="btn btn-info">Create</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Deparmtent</th>
        <th>Action</th>
    </tr>
    @foreach(var em in Model)
            {
                <tr>
                    <td>@em.Id</td>
                    <td>@em.Name</td>
                    <td>@em.Salary</td>
                    <td>@em.Dept</td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@em.Id" class="btn btn-info" ><i class="fa fa-edit"></i></a> 
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@em.Id" class="btn btn-danger" onclick="return confirm('Are you sure to delete this employee ?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
</table>